<!-- Newsletter section -->
<section class="newsletter-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 nl-text">
        <h2>Melde dich für unseren kostenlosen Newsletter an</h2>
        <form class="newsletter-form">
          <input type="text" class="" placeholder="Deine E-Mail Adresse">
          <button class="site-btn">Anmelden</button>
        </form>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. </p>
      </div>
      <div class="col-lg-6">
        <img class="nl-sp-img" src="img/newslatter.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Newsletter section end -->
