

<% provide(:title, "About") %>


<h1>Informationen</h1>

Das vorliegende EUS wurde von Patrick Czerwinski im Rahmen einer Masterarbeit entwickelt.
Das EUS nutzt für die Optimierungen eine Anbindung an GAMS, welche über den HEROKU-Server nicht möglich ist.
Daher liegt hier eine Demo-Version vor, die lediglich zur Einsicht der Funktionen dient.
Auch eine Bearbeitung von Daten ist in dieser Online-Version nicht möglich.<br><br>

Kontakt: patrick.czerwinski@mail.de


