

<% provide(:title, "Vergleich") %>



<form id="my-form" action="/bicycles" method="post">
  <select id="borrow-date" class="my-date">
    <option value="" selected>-- select date --</option>
    <option value="2017-05-17">05-17-2017</option>
    <option value="2017-05-18">05-18-2017</option>
    <option value="2017-05-19">05-19-2017</option>
  </select>
  <select id="return-date" class="my-date">
    <option value="" selected>-- select date --</option>
    <option value="2017-05-17">05-17-2017</option>
    <option value="2017-05-18">05-18-2017</option>
    <option value="2017-05-19">05-19-2017</option>
  </select>
  <select id="bikes">
    <option value="">-- select bicycle --</option>
  </select>
</form>


<script type="text/javascript">
  $(document).ready(function() {
    $('.my-date').on('change', function() {
      var data = {}

      $('.my-date').each(function() {
        if($(this).val()) {
          data[$(this).attr("id")] = $(this).val();
        }
      });

      if(Object.keys(data).length > 1) {
        $.ajax({
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          type: "POST",
          url:  "<%= optimizations_path %>",
          data: data
        });
      }
    });
  });
</script>