<% provide(:title, 'Kontakt') %>



<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">

          <div class="contact-logo">
            <%= image_tag("/img/logo-header.png") %>
          </div>

          <div class="contact-social">
            <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
            <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
            <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-2x fa-behance"></i></a>
            <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
          </div>

          <h5><b>E-Mail:</b> info@kaloria.de</h5>

        </div>
      </div>
    </div>
  </div>
</section>




<section class="contact-section lowspad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">
          <h4>Kontaktformular</h4>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Name">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="E-mail">
              </div>
              <div class="col-md-12">
                <input type="text" placeholder="Betreff">
                <textarea placeholder="Nachricht"></textarea>
                <button class="site-btn">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



