


      <h1>Generator</h1>

      <!-- SELECT OPT  -->

      <div class="col-xs-12" style="margin-bottom: 170px">

        <div class="row" style="margin-top: 50px">

          <div class="col-md-4">
            <%= link_to demoversion_path do %>
                <div class="box">
                  <div class="box-icon"> <span style="font-size: 20px">1</span> </div>
                  <div class="info">
                    <h4 class="text-center">1 Bestellung</h4>
                    <p>Generiert 1 zufällige Bestellung für einen Kunden, der noch keine Bestellung aufgegeben hat. </p>
                  </div>
                </div>
            <% end %>
          </div>


          <div class="col-md-4">
            <%= link_to demoversion_path do %>
                <div class="box">
                  <div class="box-icon"> <span style="font-size: 20px">10</span> </div>
                  <div class="info">
                    <h4 class="text-center">10 Bestellungen</h4>
                    <p>Generiert 10 zufällige Bestellungen für Kunden, die noch keine Bestellung aufgegeben haben. </p>
                  </div>
                </div>
            <% end %>
          </div>

          <div class="col-md-4">
            <%= link_to demoversion_path do %>
                <div class="box">
                  <div class="box-icon"> <span style="font-size: 20px">MAX</span> </div>
                  <div class="info">
                    <h4 class="text-center">Für alle Kunden</h4>
                    <p>Generiert zufällige Bestellungen für alle Kunden, die noch keine Bestellungen aufgegeben haben. </p>
                  </div>
                </div>
            <% end %>
          </div>

        </div>


      </div>






