<% provide(:title, "Home") %>

<div class="bg"></div>
<div class="center jumbotron">
  <h1 style="color: white;">E-Grocery EUS </h1>

  <h3 style="color: white;">
    Ein EUS zur Analyse und Optimierung von E-Grocery.
  </h3>


</div>



<div class="bg2"></div>

<div class="center jumbotron2">

  <!-- Services -->
  <div >
    <h1 style="margin-bottom: 50px;" class="row-title">Die wichtigsten Funktionen</h1>

    <div class="col-md-4">
      <div class="box">
        <div class="box-icon"> <span class="fa fa-3x fa-shopping-cart"></span> </div>
        <div class="info">
          <h4 class="text-center">Webshop</h4>
          <p>Das EUS simuliert einen E-Grocery Webshop bei dem Kunden ihren Warenkorb aus diversen Produkten zusammenstellen können. </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="box-icon"> <span class="fa fa-3x fa-eye"></span> </div>
        <div class="info">
          <h4 class="text-center">Präzision</h4>
          <p>Kunden können die Liefer- oder Abholmethode für jede Bestellung auswählen. Außerdem können genaue Zeitfenster ausgewählt werden.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="box-icon"> <span class="fa fa-3x fa-heartbeat"></span> </div>
        <div class="info">
          <h4 class="text-center">Analyse</h4>
          <p>Mithilfe der Analyse-Tools können Konzepte verglichen werden. Dazu zählen neben Kostenaspekten auch Umweltaspekte, wie die Emissionen von Fahrten.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Team -->

<div class="bg3"></div>
<div class="center jumbotron3">
  <div class="row me-row content-ct">
    <h1 style="margin-bottom: 50px;" class="row-title">Der Entwickler</h1>
    <div class="col-md-12 feature">
      <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png" style="height: 80px;width: auto;"> </img>
      <h3 style="margin-bottom: 10px">Patrick Czerwinski</h3>
      <p style="color: #a8a8a8">Master Student in Wirtschaftswissenschaften an der Leibniz Universität Hannover.
        Spezialisiert auf Optimierungsmodelle und Anwendungssysteme im VRP-Bereich. Weitere
         Kenntnisse in: Mobile Applikationen, E-Learning, Entrepreneurship,
        Social Media Marketing und Geschäftsmodellen. Programmierkenntnisse umfassen Ruby, Java, Python, HTML, Javascript,
        XML, CSS und VBA.

      </p>
    </div>


  </div>
</div>

<div class="container-fluid tickets" id="tickets">
  <div class="row me-row content-ct">
    <a id="registernow"></a>

    <h2 style="color: #ad0000">Um die Funktionen des EUS zu testen bitte als Admin einloggen.</h2>
      <h3 class="price">Admin-Login Daten sind auf der Login-Seite zu finden.</h3>
      <h3><a href="/login" class="homebutton hvr-back-pulse-own">Zum Login</a></h3>


  </div>
</div>

<div style="margin-bottom: 150px;"></div>

<script>
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }

  $(window).scroll(function(e){
    parallax();
  });

</script>

