
<h3 style="font-size: 30px" >Kosten</h3>

<div class="col-xs-12" style="margin-bottom: 170px">

  <div class="row" style="margin-top: 50px">

    <div class="col-md-3">
      <div class="box" onclick="return showOptions(8)">
        <div class="box-icon"> <span class="fa fa-3x fa-hourglass-end"></span> </div>
        <div class="info">
          <h4 class="text-center">Lohnkosten</h4>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box" onclick="return showOptions(9)">
        <div class="box-icon"> <span class="fa fa-3x fa-car"></span> </div>
        <div class="info">
          <h4 class="text-center">Fahrtkosten</h4>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box" onclick="return showOptions(10)">
        <div class="box-icon"> <span class="fa fa-3x fa-cart-arrow-down"></span> </div>
        <div class="info">
          <h4 class="text-center">Produktkosten</h4>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box" onclick="return showOptions(16)">
        <div class="box-icon"> <span class="fa fa-3x fa-cloud"></span> </div>
        <div class="info">
          <h4 class="text-center">Emissionen</h4>
          <p>  </p>
        </div>
      </div>
    </div>




  </div>


</div>
