

    <h3 style="font-size: 30px" >GAMS Test</h3>
    <h3 style="font-size: 20px" >Testen ob der eingetragene GAMS Pfad korrekt ist.
      <br>Dieser Test muss durchgeführt werden
    bevor eine Optimierung durchgeführt werden kann.</h3>

    <div style="margin-bottom: 70px"></div>




    <div class="col-md-12">
      <%= link_to gamstest_path do %>
          <div class="box">
            <div class="box-icon"> <span class="fa fa-3x fa-heartbeat"></span> </div>
            <div class="info">
              <h4 class="text-center">Test starten</h4>
              <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
            </div>
          </div>
      <% end %>
    </div>


    <br>

    <div style="margin-bottom: 150px"></div>

