
<%= bootstrap_form_for(Option.find_by_name("gamspath"), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>




    <h3 style="font-size: 30px" >GAMS Pfad</h3>

    <div style="margin-bottom: 70px"></div>


    <%= f.text_field :value, label: "Pfad zu GAMS", required: true, step: :any %>





    <br>

    <%= f.form_group do %>
        <h1 > <%= f.submit "Bestätigen", class: "btn btn-success" %></h1>
        <h6 style="margin-top: -20px;">Alle Felder müssen ausgefüllt werden.</h6>


    <% end %>

    <div style="margin-bottom: 100px"></div>
<% end %>

