
<h3 style="font-size: 30px" >Zeiten</h3>

<div class="col-xs-12" style="margin-bottom: 170px">

  <div class="row" style="margin-top: 50px">

    <div class="col-md-4">
      <div class="box" onclick="return showOptions(11)">
        <div class="box-icon"> <span class="fa fa-3x fa-inbox"></span> </div>
        <div class="info">
          <h4 class="text-center">Kommisionierungszeit</h4>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box" onclick="return showOptions(12)">
        <div class="box-icon"> <span class="fa fa-3x fa-clock-o"></span> </div>
        <div class="info">
          <h4 class="text-center">Servicezeit</h4>
          <p>  </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box" onclick="return showOptions(13)">
        <div class="box-icon"> <span class="fa fa-3x fa-tasks"></span> </div>
        <div class="info">
          <h4 class="text-center">Zeitfenster</h4>
          <p>  </p>
        </div>
      </div>
    </div>




  </div>


</div>

