<% if current_user.admin? and @customer.workstreet == nil %>
    <h1>Schritt 2: Kundendaten eingeben</h1>

<% elsif current_user.admin? %>
<h1>Kundendaten von <%= User.find(@customer.user_id).name %> bearbeiten</h1>
    <% else%>
    <h1>Kundendaten bearbeiten</h1>

<% end %>
<%= render 'form' %>


