@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
  font-family: 'Lato';
  src:font-url('Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hair';
  src:font-url('Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Normal';
  src:font-url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.customtable{
  tbody{
    tr{
      td{
        font-size: 14px;

      }
    }
  }
}

.btn-success{
  background: #82b440;
  &:hover{
    background: #699134;
  }
}

.back-to-top {
  content:"\2b";
  font-family:"Glyphicons Halflings";
  text-align: center;
  background: #3d3d3d;
  position: fixed;
  bottom:20px;
  right:20px;
  padding:1em;
  width: 70px;
  border-radius: 3px;
  color: white;
  &:hover{
    color: #9a9a9a;
    text-decoration: none;

  }
}

a{
  font-family: Lato-Normal;
  color: #3d3d3d;
  text-decoration: none;
  &:hover{
    color: #13ba42;
    text-decoration: none;

  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */




body, html, #wrapper {
  width: 100%;
  height: 100%
}
#wrapper {
  display: table
}
#main {
  display: table-cell;
  vertical-align: middle;
  text-align:center
}



body {
  padding-top: 0px;
  font-family: Lato;
  margin: 0;
  padding: 0;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: Lato;
  font-size: 3.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #3d3d3d;
}

h2 {
  font-family: Lato;

  font-size: 36px;
  text-align: center;
  margin: 0;
  font-weight: 500;
  color: #474747;
}

h3 {
  font-family: Lato;
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-weight: 500;
  color: #474747;
}

h4{
  margin: 0;
  font-weight: 500;
  color: #474747;
  font-size: 24px;

}

h5{
  margin: 0;
  font-weight: 500;
  color: #474747;
  font-size: 18px;

}



h6 {
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: 500;
  color: #474747;
}



p {
  font-family: Lato;
  font-size: 14.1px;
  color: #474747;
  line-height: 2.1;
}


.ba{
  background: rgba(79, 79, 79, 0.89);
  border: none;
  height: 50px;
  padding-top: 8px;
  &:hover{
    background: rgba(79, 79, 79, 0.89);
  }
}
.ba2{
  border: none;

    background: rgba(225, 40, 0, 0.76);

  &:hover{
    background: #9b1c00;
  }
}

/* footer */

footer {
  font-family: Lato;

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #0f0f0f;
  a {
    color: #2f2f2f;
    &:hover {
      color: #82b440;
    }
  }
  p{
    color: black;
  }
  ul {

    text-align: center;
    list-style: none;
    li {
      list-style: none;
      text-align: center;
    }
  }
}

.linkstylefooter{
  a{
    color: #000;
    &hover{
      color: #9c00ff;
    }
  }

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  width: 100%;
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.button{
  font-family: Lato;
  margin-top: 30px;
}





// INPUT FELDER


@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.webflow-style-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
}
.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: -webkit-linear-gradient(left, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
  animation: gradient 3s linear infinite;
}

.webflow-style-input input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #BFD2FF;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #7881A1;
}

.webflow-style-input button {
  color: #7881A1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  -webkit-transition: color .25s;
  transition: color .25s;
}
.webflow-style-input button:hover {
  color: #BFD2FF;
}

// TABLES
th{
  font-size: 22px;
}
td{
  font-size: 22px;
  vertical-align: middle;
  align-items: center;

}

.smalltable{
  td{
    font-size: 14px;
  }
  th{
    font-size: 14px;
  }
}



.divfooter{
  float: left;
  width: 20%;
  text-align: center;
  color: #0f0f0f;
  h2{
    font-size: 2.4rem;
    color: #101010;
    margin-bottom: 14px;
  }
  p{
    a{
      color: #3d3d3d;
      font-size: 1.8rem;
      &:hover{
        color: #82b440;
        font-size: 2.1rem;

      }
    }
  }
}


// Button 4 TW

.twbtn {
  background: #82b440;
  font-family: Lato-Hair;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.twbtn:hover {
  background: #bdbdbd;
  text-decoration: none;
}

// Stores List

.storeslist{


ul {
  list-style-type: none;
  width: 100%;
  display: table;
  border-spacing: 10px;
}

h3 {
  margin-top: 2px;
  text-align: left;
  font: bold 20px/1.5 ;
}

li p {
  margin: 0;
  font: 200 12px/1.5 ;
}

  li p:hover{
    color: #000;
  }

li {
  width: 320px;
  display: table-cell;
  padding: 1px;
  overflow: auto;
}

li:hover {
  color: #000;

  background: #eee;
  cursor: pointer;
}

}


// Für Warteanzeige

.mywaitnotice{
  margin-top: 100px;
  height: 500px;
  background: rgba(21, 204, 72, 0);
}

.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > span {
  display: inline-block;
  -webkit-animation: dangerbounce 1.4s infinite ease-in-out both;
  animation: dangerbounce 1.4s infinite ease-in-out both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

@-webkit-keyframes dangerbounce {
  0%, 80%, 100% { -webkit-transform: scale(0.5) }
  40% { -webkit-transform: scale(1.2) }
}

@keyframes dangerbounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  } 40% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
}



/*  JUMBOTRON BG */
.bg {
  background: url('https://static.pexels.com/photos/459469/pexels-photo-459469.jpeg') no-repeat bottom center;
  background-size: 1600px 1200px;
  position: fixed;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.bg2 {
  background: #ffffff;
  position: absolute;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top: 500px;
  left:0;
  z-index: -1;

}

.bg3 {
  background: #6a6a6a;
  position: absolute;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top: 1000px;
  left:0;
  z-index: -1;

}

.jumbotron {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: 40px;
}

.jumbotron2 {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: -100px;
}

.jumbotron3 {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: 00px;
}