.listing-parent{
  font-family: Lato;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.07);
  //height: 50px;
  color: rgb(255, 255, 255);
  border: solid rgba(255, 255, 255, 0.92) 0px;
  text-align: left;
  font-size: 1.1em;
  padding: 0.5em;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}


.listing-child{
  float: left;
  width: 20%;
  text-align: center;
  color: #ffffff;
  border-right: solid rgba(255, 255, 255, 0.19) 2px;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}