/* header */


#logo {
  font-family: Lato;
  margin-top: 21px;
  float: left;
  color: #aeaeae;
  text-align: center;
  text-decoration: none;
  font-size: 22px;

  padding: 0 0px;

  max-width: 200px;
  &:hover {
    color: #699134;
    text-decoration: none;
  }
}



.navbar{
  background: #373737;
  border-bottom: 1px;
  color: #aeaeae;

}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 34px !important;
  padding-bottom:0 !important;
  height: 90px;
}
.navbar {min-height:90px !important;}

.navbar-toggle{
 margin-top: 14px !important;

}

  .navbar-collapse {
  background: #373737;
    color: #aeaeae;
  font-size:18px;
  text-align: center;
  vertical-align: middle;
  text-decoration:none;

  li{
  margin-left: 0px;
    margin-right: 0px;


    a{

      font-size:18px;
      text-align: left;
      vertical-align: middle;
      text-decoration:none;

      &:hover{
        color: #82b440;
        background: none;

      }
    }
  }
}


#navli{

  color: #aeaeae;

}


.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}








