<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



<footer class="footer" style="margin: 20px; margin-left: 80px; margin-right: 80px; margin-bottom: 80px; ">

  <div style="margin-top: 5px">
    <div style="float: left;" >

      E-Grocery EUS (C) 2018  |  by Patrick Czerwinski



      <ul class="social-network social-circle" >
        <!-- <li style="margin-left: 13px"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
        <li><a href="https://www.xing.com/profile/Patrick_Czerwinski2" class="icoXing" title="Xing"><i class="fa fa-xing"></i></a></li>
      </ul>


    </div>





    <div style="float: right; margin-top: 13px">
        <!--Pulling Awesome Font -->




        <%= link_to "Informationen",   about_path %> |
        <%= link_to "Kontakt", contact_path %>
      </div>
    </div>





</footer>
